<h5>今日の行動を具体的に記録しましょう！例えば…<br />
    ・電車で隣の人がマスクをしていなくて少し気がかりだった。<br />
    ・○○さんと□□さんと××でランチをした。<br />
    ・△△まで買い物に行った。<br />
    ・塾が密集していた。<br />
    ・会社にコロナに感染している人がいることが分かった。等々
</h5>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(model: activity_log, local:true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
    
      <div class="form-group">
        <%= f.text_area :log, class: 'form-control' %>
      </div>
      
      <%= f.submit '保存', class: 'btn btn-success btn-block' %>
    <% end %>
  </div>
</div>