<div class="text-center">
    <div class="fukidashi">
      <link rel="stylesheet" href="fukidashi.css">
        記録が完了しました!<br>引き続き、三密を避け、ソーシャルディスタンスを<br>保って行動しましょう!
    </div>
</div>
<br />
    <%= image_tag "good.png", :alt => "桃" %>
<br />
<div class="text-center">
    <%= link_to '戻る', root_path %>
</div>