<ul>
  <% @activity_logs.each do |activity_log| %>
    <div class="card">
      <div class="card-header">
        <%= activity_log.created_at.to_s(:datetime_jp) %>
      </div>
      <div class="card-body">
        <p><%= activity_log.log.split(/\r\n|\r|\n/).map{|s|h(s)}.join('<br>') %></p><br />
        <a href="#"><%= link_to '編集', edit_activity_log_path(@activity_logs.ids) %></a>
      </div>
    </div>
  <% end %>
  <%= paginate @activity_logs %>
</ul>
        
