<ul>
  <% @activity_logs.each do |activity_log| %>
    <div class="card">
      <div class="card-header">
        <%= activity_log.created_at.to_s(:datetime_jp) %>
      </div>
      <div class="card-body">
        <p><%= simple_format(activity_log.log) %></p><br />
        <a href="#"><%= link_to '編集', edit_activity_log_path(activity_log.id) %></a>
      </div>
    </div>
  <% end %>
  <%= paginate @activity_logs %>
</ul>
        
