#footer {
  background: #ffd1ff;
}
 
#footer .cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}
 
#footer .cont-item {
  display: block;
  width: calc(100% / 4);
}
 
#footer .nav a {
  display: block;
  color: #9caeb7;
}
 
#footer .nav .ttl {
  display: block;
  margin: 30px 0 6px;
  font-size: 12px;
  font-weight: bold;
  color: #9caeb7;
}
 
#footer .nav .ttl:first-child {
  margin-top: 0;
}
 
#footer .nav .ttl + .ttl {
  margin-top: 10px;
}
 
#footer .nav ul {
  display: block;
  font-size: 12px;
  line-height: 2;
}
 
#footer .nav li {
  display: block;
  font-size: 12px;
  line-height: 2;
}
 
#footer .nav li:first-child {
  margin-top: 0;
}
 
#footer .nav li ul {
  margin: 0 0 0 2em;
}
 
#footer .nav li li {
  position: relative;
}
 
#footer .nav li li:before {
  position: absolute;
  top: 50%;
  left: -10px;
  content: "";
  display: block;
  width: 4px;
  height: 1px;
  background-color: #ffd1ff;
}