.fukidashi {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0ffe0;
  border-radius: 15px;
}

.fukidashi:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: #e0ffe0 transparent;
  border-width: 20px 20px 0 0;
  bottom: -20px;
  left: 15%;
  margin-left: -10px;
}

.fukidashi p {
  margin: 0;
  padding: 0;
}

.fukidashi-yellow{
    position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #ffffcc;
  border-radius: 15px;
}

.fukidashi-yellow:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: #ffffcc transparent;
  border-width: 20px 20px 0 0;
  bottom: -20px;
  left: 15%;
  margin-left: -10px;
}

.fukidashi-yellow p {
  margin: 0;
  padding: 0;
}

.fukidashi-red{
    position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #ffe0ff;
  border-radius: 15px;
}

.fukidashi-red:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: #ffe0ff transparent;
  border-width: 20px 20px 0 0;
  bottom: -20px;
  left: 15%;
  margin-left: -10px;
}

.fukidashi-red p {
  margin: 0;
  padding: 0;
}